<div class="{{prefixCls}}-panel">
  <div class="{{prefixCls}}-panel-header">
    <div>  
      <span class="this-month">
        {{month | uppercase}} {{year}}  
      </span>
      <span class="prev-year" (click)="jump(-12)"></span>
      <span class="prev-month" (click)="jump(-1)"></span>
      <span class="next-month" (click)="jump(1)"></span>
      <span class="next-year" (click)="jump(12)"></span>
    </div>
  </div>
  <div class="{{prefixCls}}-panel-body">
    <table>
      <thead>
        <tr>
          <th *ngFor="let short of weekdaysMin"><span>{{short}}</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of calendarDays">
          <td *ngFor="let day of week">
            <div class={{day?.className}} (click)="select(day.date)">{{day.date}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
